// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary : #1b1e50;
$secondary: #fcb040;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import "../node_modules/tiny-slider/dist/tiny-slider.css";

:root{
    --bs-body-font-family:'Lato', sans-serif;
}

// Then add additional custom code here

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: $secondary;
    font-weight: 700;
}
.navbar-expand-lg .navbar-nav 
.nav-link{padding:0 20px;}

header {
    position: relative;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    opacity: 0.5;
    z-index: 1;
  }
  
.brand-section h2 { font-size: 2.5rem;}

.brand-list .brand-fill{
    background-image: url('assets/element-01.png');
    background-size: cover;
    padding: 30px;
    color: #fff;
    height: 188px;
    display: flex;
    align-items: center;
}

.brand-list .tns-controls button[data-controls=next], 
.brand-list .tns-controls button[data-controls=prev] {
    top: 35%;
}

.budget-title {
    font-weight: 400;
    font-size: 1.5rem;
}
.tab-view li.nav-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tab-view li.nav-item:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.tab-view li.nav-item {
    background: #ecf3f9;
    border-radius: 0;
}
.tab-img {
    position: absolute;
    top: -105px;
    width: 420px;
    right: 0;
}
.mock-img{
    width: 290px;
    position: absolute;
    top: -50px;
    right: 0;
}

.tns-controls button[data-controls=next], 
.tns-controls button[data-controls=prev]{
    align-items: center;
    background-color:#e5eff7;
    border-radius: 50%;
    border: 0;
    top: 40%;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    position: absolute;
    z-index: 9
}
.tns-controls button[data-controls=next]{
    right: -60px;
}
.tns-controls button[data-controls=prev]{
    left: -60px;
}
.client-comment img {
    float: left;
    margin: 0 15px 0 0;
}
.client-comment p {
    font-size: 24px;
    font-weight: 200;
}
.feed-info .card-title {
    font-size: 26px;
    margin-bottom: 0px;
}
.client-feed .card.card-body::before {
    content: "";
    background: url("assets/right-quote.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100px;
    width: 100px;
    background-size: 60px;
    overflow: visible;
}

.client-feed .card.card-body::after {
    content: "";
    background: url("assets/right-quote.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0px;
    left:0;
    height: 100px;
    width: 100px;
    background-size: 60px;
    overflow: visible;
    transform: rotate(180deg);
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    header {
        height: 25vh;
        min-height: auto;
        width: 100%;
        margin-top: 60px;
    }
    header video {
        width: 100%;
    }
    .brand-section h2 {
        font-size: 1.5rem;
    }
    .budget-title {font-size: 1rem; }

    .brand-list .brand-fill {
        padding: 20px;
        color: #fff;
        height: 210px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .brand-list .tns-controls button[data-controls=next], 
    .brand-list .tns-controls button[data-controls=prev] {
        top: 100%;
    }
    .brand-list .tns-controls button[data-controls=next] {
        right: 100px;
    }
    .brand-list .tns-controls button[data-controls=prev] {
        left: 100px;
    }


    .tab-img {
        position: unset;
        width: 100%;
    }
    .mock-img {
        width: 100%;
        position: unset;
    }
    .case-study button[data-controls=next], 
    .case-study button[data-controls=prev] {
        top: 40%;
        height: 40px;
        width: 40px;
    }
    .case-study button[data-controls=prev] {
        left: 0;
    }
    .case-study button[data-controls=next] {
        right: 0px;
    }
    .client-comment p {
        font-size: 16px;
    }
    .client-testimonial .tns-controls button[data-controls=prev] {
        left: 0px;
    }
    .client-testimonial .tns-controls button[data-controls=next] {
        right: 0px;
    }
    .client-feed .card.card-body::before, 
    .client-feed .card.card-body::after{
        display: none;
    }
 }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }