// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary : #1b1e50;
$secondary: #fcb040;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import "../node_modules/tiny-slider/dist/tiny-slider.css";

:root{
    --bs-body-font-family:'Lato', sans-serif;
    // --bs-light-rgb:#000;
}

// Then add additional custom code here

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: $secondary;
    font-weight: 700;
}
.navbar-expand-lg .navbar-nav 
.nav-link{padding:0 20px;}

header {
    position: relative;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
//   @media (pointer: coarse) and (hover: none) {
//     header {
//       background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
//     }
  
//     header video {
//       display: none;
//     }
//   }


// .bg-hero{
//     background: rgb(2,7,164);
//     background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
// }

// header.masthead h1, header.masthead .h1 {
//     font-size: 2.25rem;
//     letter-spacing: 2em;
// }
// @media (min-width: 992px) {
//     header.masthead {
//     height: 100vh;
//     min-height: 40rem;
//     padding-top: 4.5rem;
//     padding-bottom: 0;
//     }
//     header.masthead p {
//     font-size: 1.15rem;
//     }
//     header.masthead h1, header.masthead .h1 {
//     font-size: 3rem;
//     }
// }
// @media (min-width: 1200px) {
//     header.masthead h1, header.masthead .h1 {
//     font-size: 3.5rem;
//     }
// }

.budget-title {
    font-weight: 400;
    font-size: 1.5rem;
}
.tab-view li.nav-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tab-view li.nav-item:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.tab-view li.nav-item {
    background: #ecf3f9;
    border-radius: 0;
}
.tab-img {
    position: absolute;
    top: -105px;
    width: 420px;
    right: 0;
}
.mock-img{
    width: 290px;
    position: absolute;
    top: -50px;
    right: 0;
}

.case-study button[data-controls=next], 
.case-study button[data-controls=prev]{
    align-items: center;
    background-color:#e5eff7;
    border-radius: 50%;
    border: 0;
    top: 50%;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    position: absolute;
    z-index: 9
}
.case-study button[data-controls=next]{
    right: -60px;
}
.case-study button[data-controls=prev]{
    left: -60px;
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    header {
        height: 25vh;
        min-height: auto;
        width: 100%;
        margin-top: 60px;
    }
    header video {
        width: 100%;
    }
    .budget-title {font-size: 1rem; }

    .tab-img {
        position: unset;
        width: 100%;
    }
    .mock-img {
        width: 100%;
        position: unset;
    }
    .case-study button[data-controls=next], 
    .case-study button[data-controls=prev] {
        top: 40%;
        height: 40px;
        width: 40px;
    }
    .case-study button[data-controls=prev] {
        left: 0;
    }
    .case-study button[data-controls=next] {
        right: 0px;
    }
 }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }