// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary : #1b1e50;
$secondary: #fcb040;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import "../node_modules/tiny-slider/dist/tiny-slider.css";

:root{
    --bs-body-font-family:'Lato', sans-serif;
}

a{text-decoration: none;}

main {
    margin-top: 5em;
}
// Then add additional custom code here

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: $secondary;
    font-weight: 700;
}

header {
    position: relative;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(2,7,164);
    background: linear-gradient(116deg, rgba(2,7,164,1) 0%, rgba(0,0,85,1) 49%, rgba(2,7,164,1) 100%);
    opacity: 0.5;
    z-index: 1;
  }
  
.brand-section h2:before {
    border: 1px solid #fff;
    position: absolute;
    content: '';
    width: 50%;
    top: -12px;
}

.brand-section h2 { font-size: 2.5rem;}

.brand-list .tns-controls button[data-controls=next], .brand-list .tns-controls button[data-controls=prev] {
    background-color: rgb(255 255 255 / 34%);
}

.brand-fill {
    display: flex;
    align-items: center;
    margin: auto;
    padding:10% 2em;
  }

  .brand-fill {
    background: linear-gradient(#1b1f50, #434881) padding-box,linear-gradient(to right, #ffc107, orange) border-box;
    border-radius: 1em;
    border: 2px solid transparent;
    color: #fff;
}

.brand-list .tns-controls button[data-controls=next], 
.brand-list .tns-controls button[data-controls=prev] {
    top: 35%;
}

.budget-title {
    font-weight: 400;
    font-size: 1.5rem;
}
.tab-view li.nav-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tab-view li.nav-item:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.tab-view li.nav-item {
    background: #ecf3f9;
    border-radius: 0;
}
.tab-img {
    position: absolute;
    top: -75px;
    width: 420px;
    right: 0;
}
.mock-img {
    width: 22%;
    position: absolute;
    top: 50%;
    left: 85%;
    right: 0;
    transform: translate(-50%, -50%);
}

.platform-img:before {
    content: '';
    position: absolute;
    background-image: url('assets/element-04.png');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -9px;
    width: 100%;
    height: 10px;
}

.tns-controls button[data-controls=next], 
.tns-controls button[data-controls=prev]{
    align-items: center;
    background-color:#e5eff7;
    border-radius: 50%;
    border: 0;
    top: 40%;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    position: absolute;
    z-index: 9
}
.tns-controls button[data-controls=next]{
    right: -60px;
}
.tns-controls button[data-controls=prev]{
    left: -60px;
}
.client-comment img {
    float: left;
    margin: 0 15px 0 0;
}
.client-comment p {
    font-size: 24px;
    font-weight: 200;
}
.feed-info .card-title {
    font-size: 26px;
    margin-bottom: 0px;
}
.client-list {
    padding: 50px 0;
}
.client-feed{position: relative;}

.client-feed::before {
    content: "";
    background: url("assets/right-quote.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    right: 50px;
    height: 60px;
    width: 60px;
    background-size: 60px;
    overflow: visible;
    z-index: 9;
}

.client-feed::after{
    content: "";
    background: url("assets/right-quote.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    left: 50px;
    height: 60px;
    width: 60px;
    background-size: 60px;
    overflow: visible;
    transform: rotate(180deg);
}

.footer-heading {
    color: $secondary;
    font-size: 18px;
}

address span {
    display: block;
}
footer ul li a.nav-link {
    font-size: 14px;
}

.blog-header{
    background: url('assets/blog-header-01.jpg') no-repeat center;
    background-size: cover;
    padding:15em 0 5em;
    color: #fff;
    position: relative;
}

.blog-header:before {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    position: absolute;
    background: rgb(27, 30, 81);
    background: linear-gradient(116deg, rgb(27, 30, 81) 0%, rgba(27, 30, 81, 0.6545211835) 100%);
    width: 100%;
    padding: 8em;
    z-index: 1;
}
.blog-headline {
    z-index: 9;
    position: relative;
}
.blog-headline a{ color:#fff; text-decoration: none;}
.img-card{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.card.card-overlay-bottom:before {
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 1;
}
.img-card a{ color: #fff; text-decoration: none;}

.blog-area .list-group .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.block-heading {
    font-size: 2em;
    margin-bottom: .7em;
    color: $primary;
    position: relative;
}
.block-heading:after {
    content: '';
    width: 87%;
    height: 1px;
    background: $secondary;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
}
.blog-four .col .card .card-body:nth-child(1), 
.blog-four .col .card .card-body:nth-child(2) {
    border-bottom: 1px solid #d7d7d7;
}
.podcast-list .card-text{text-align: justify;}

.blog-listwise .col {
    border-right: 1px solid #999;
}

.blog-listwise .col:nth-child(4), 
.blog-listwise .col:nth-child(8) {
    border-right: 1px solid #d7d7d7;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    header {
        height: 25vh;
        min-height: auto;
        width: 100%;
        margin-top: 60px;
    }
    header video {
        width: 100%;
    }
    .brand-section h2 {
        font-size: 1.5rem;
    }
    .budget-title {font-size: 1rem; }

    .brand-list .brand-fill {
        padding: 20px;
        color: #fff;
        height: 210px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .brand-list .tns-controls button[data-controls=next], 
    .brand-list .tns-controls button[data-controls=prev] {
        top: 100%;
    }
    .brand-list .tns-controls button[data-controls=next] {
        right: 100px;
    }
    .brand-list .tns-controls button[data-controls=prev] {
        left: 100px;
    }
    .tns-controls button[data-controls=next] {
        right: 0;
    }
    .tns-controls button[data-controls=prev] {
        left: 0;
    }

    .tab-img {
        position: unset;
        width: 100%;
    }
    .mock-img {
        width: 100% !important;
        transform: none;
        position: unset;
        text-align: center;
    }
    .case-study button[data-controls=next], 
    .case-study button[data-controls=prev] {
        top: 40%;
        height: 40px;
        width: 40px;
    }
    .case-study button[data-controls=prev] {
        left: 0px !important;
    }
    .case-study button[data-controls=next] {
        right: 0px !important;
    }

    .ad-format .tns-controls button[data-controls=next]{
        right: -10px;
    }
    .ad-format .tns-controls button[data-controls=prev]{
        left: -10px;
    }

    .client-comment p {
        font-size: 16px;
    }
    .client-testimonial .tns-controls button[data-controls=prev] {
        left: 0px;
    }
    .client-testimonial .tns-controls button[data-controls=next] {
        right: 0px;
    }
    .client-feed .card.card-body::before, 
    .client-feed .card.card-body::after{
        display: none;
    }
    .blog-header {
        padding: 5em 0 5em;
    }
    .blog-header:before {
        content: "";
        transform: translate(-50%, -50%);
        padding: 16.7em 0;
    }
    .blog-listwise .col {
        border-right: 0;
        border-bottom: 1px solid #999;
    }
 }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .tns-controls button[data-controls=next] {
        right: 0;
    }
    .tns-controls button[data-controls=prev] {
        left: 0;
    }
 }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    header {
        height: 26vh;
        margin-top: 85px;
    }
    
    .tns-controls button[data-controls=prev] {
        left: 0px;
    }
    .tns-controls button[data-controls=next] {
        right: 0px;
    }
    .tab-img {
        top: -4px;
        width: 320px;
    }
 }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .tns-controls button[data-controls=next] {
        right: -25px;
    }
    .tns-controls button[data-controls=prev] {
        left: -25px;
    }
 }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    .mock-img {
        width: 30%;
        left: 80%;
    }
 } 
